body{
    font-family: sans-serif;
    background: #f4f4f4;
}

*{
    box-sizing: border-box;
}

.title{
    font-size: 3em;
    text-align: center;
}

.grid{
    margin: 1rem auto;
}

.grid-item{
    width: 350px;
    height: auto;
    margin: 1em;
}

.card{
    background: #fff;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
p{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;

}
