@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Laptop Navbar View */

.navbar {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left h1 a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav-tags ul {
    padding-top: 4px;
    display: flex;
    gap: 35px;
    list-style: none;
    font-size: 15px;
}

.nav-tags ul li a {
    text-decoration: none;
    color: white;
}

.sub-button a {
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    background-color: black;
    padding: 10px 16px;
    border-radius: 10px;
}

/* Mobile Navbar  */

.mobile-menu-wrapper .mobile-menu {
    font-size: 27px;
    height: 100svh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    z-index: 10;
    display: none;
    padding-top: 50px;

    animation: slideUpDown 0.8s ease-in-out;
}

@keyframes slideUpDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}



.mobile-menu-wrapper.open .mobile-menu {
    display: block;
}

.mobile-menu-wrapper .mobile-menu li a {
    padding: 10px 50px;
    display: block;
    width: max-content;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.hamburger-menu {
    z-index: 100;
    position: absolute;
    top: 37px;
    right: 24px;
    cursor: pointer;
    display: none;
}

.bar1,
.bar2 {
    transition: all .3s ease-in-out;
    width: 25px;
    height: 1.8px;
    background-color: white;
}

.mobile-menu-wrapper.open .bar1 {
    transform: rotate(-45deg) translate(0, 0px);
}

.mobile-menu-wrapper.open .bar2 {
    margin-top: 0px;
    transform: rotate(45deg) translate(0, -1px);
}

.mobile-menu-wrapper .bar2 {
    margin-top: 6px;
}

/* Main Landing Page  */

.hero-section-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #161617;
}



@media screen and (max-width: 768px) {
    .nav-right {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-left h1 {
        font-size: 23px;
    }

    .bar1,
    .bar2 {   
        width: 22px;    
    }
    
}